html{
    font-size:62.5%;
}
body{
    background-image:url("../images/contact-img-3.jpg");
    
    background-repeat:no-repeat;
    background-position:left top;
    background-size:cover;
    margin:0;
}

.container{
    background-color:rgba(255,255,255,0.2);
    margin-bottom:0;
}



.header{
    margin-top:-2rem;
    box-sizing:border-box;
    font-size:2rem;
    height:27rem;
    background-color:#333333;
    color:#cccccc;
    padding:2rem;
}
.header p{
    font-family: 'Montserrat', sans-serif;
    margin:5rem 0 0 18rem;
    font-size:4rem;
}

.link ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    font-size:2.8rem;
    color:#cccccc;
    list-style:none;
    padding:0 4rem;
    text-align:center;
    margin:0 auto;

}
.link ul li{
    margin:8rem 2.5rem 0 2.5rem;
    text-align:center;
}
.link ul li a{
    position:relative;
    display:inline-block;
    color:#cccccc;
    list-style:none;
    text-decoration:none;
    padding-bottom:1rem;
}
.link a::after{
    position:absolute;
    bottom:-4px;
    left:0;
    content: '';
    width:100%;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
    border-bottom:solid 0.3rem #cccccc;
}
.link a:hover::after{
    transform: scale(1,1);
}
.link a:hover{
    color:#ccff99;
}


.Fukidasi{
    text-align:center;
}
.fukidasi {
    position: relative;
    display: inline-block;
    visibility:hidden;
    justify-content:center;
    text-align:center;
    margin:10rem auto auto auto;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    font-family:'M PLUS 1p', sans-serif;
    background: #FFF;
    border: solid 3px #555;
    border-radius:10px;
    box-sizing: border-box;
}
  
  .fukidasi:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 2;
}
  
  .fukidasi:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #555;
    z-index: 1;
}
  
  .fukidasi p {
    margin: 0;
    padding: 0;
}

.Icon img{
    border-radius:50%;
    border:solid 5px #333333;
    transition-duration:0.5s;
    width:38rem;
    height:38rem;
    text-align:center;
}

.Icon{
    display: block;
    text-decoration: none;
    min-width:600px;
    text-align:center;

}


    
.fa-twitter-square{
    color:#333333;
    transition-duration:0.5s;
    margin:0 10rem;
}
.fa-twitter-square:hover{
    color:#1da1f2;
}

.fa-youtube{
    color:#333333;
    margin:0 10rem;
    transition-duration:0.5s;
}
.fa-youtube:hover{
    color:#da1725;
}

.fa-facebook-f{
    color:#333333;
    margin:0 10rem;
    transition-duration:0.5s;
}
.fa-facebook-f:hover{
    color:#3c5a99;
}

.sns{
    margin-top:20rem;
    text-align:center;
}



.sns #icontxt{
    font-size:3rem;
    font-family:'M PLUS 1p', sans-serif;
    margin-left:2rem;
    color:#333333;
}

.thanks{
    margin-top:38rem;
    padding-bottom:15rem;
    line-height:1.5;
    font-family:'M PLUS 1p', sans-serif;
    letter-spacing:0.2rem;
    text-align:center;
}

.box-image img{
    border-radius:50%;
    width:13rem;
    height:13rem;
    border: 8px solid #cccccc;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}

.box-image,.box-txt{
    display:inline-block;
}

.container1{
    display:inline-block;
    
}

.footer{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#333333;
    height:27rem;
}
.footer p{
    font-size:4rem;
    font-family:'Montserrat', sans-serif;
    color:#cccccc;
}

/*PAGE TOPボタン追加*/
.fa-angle-double-up{
    border-radius:50%;
    color: #191970;
    position: fixed;
    right: 4rem;
    bottom: 2rem;
    cursor: pointer;
}

